In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("salaries.csv")
df.head(5)

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
df.degree.unique()

array(['bachelors', 'masters'], dtype=object)

In [5]:
#mapping
df['degree_number']=df.degree.map({'bachelors':1,'masters':2})
df.head(3)

  company               job     degree  salary_more_then_100k  degree_number
0  google   sales executive  bachelors                      0              1
1  google   sales executive    masters                      0              2
2  google  business manager  bachelors                      1              1

In [6]:
df.drop('degree',axis="columns",inplace=True)
df.head(4)

  company               job  salary_more_then_100k  degree_number
0  google   sales executive                      0              1
1  google   sales executive                      0              2
2  google  business manager                      1              1
3  google  business manager                      1              2

In [7]:
df_encoded=pd.get_dummies(df, columns=['company','job'],drop_first=True)
df_encoded.head()

,salary_more_then_100k,degree_number,company_facebook,company_google,job_computer programmer,job_sales executive
0,0,1,False,True,False,True
1,0,2,False,True,False,True
2,1,1,False,True,False,False
3,1,2,False,True,False,False
4,0,1,False,True,True,False

In [9]:
list(X.columns)

['company', 'job', 'degree_number']

In [ ]:
#optionally, visulize the tree 
from sklearn.tree import export_text
print(export_text(model,feature_names=list(X.columns)))

|--- company <= 0.50
|   |--- job_n <= 0.50
|   |   |--- degree_number <= 1.50
|   |   |   |--- class: 0
|   |   |--- degree_number >  1.50
|   |   |   |--- class: 1
|   |--- job_n >  0.50
|   |   |--- class: 0
|--- company >  0.50
|   |--- company <= 1.50
|   |   |--- class: 1
|   |--- company >  1.50
|   |   |--- job_n <= 0.50
|   |   |   |--- class: 1
|   |   |--- job_n >  0.50
|   |   |   |--- job_n <= 1.50
|   |   |   |   |--- degree_number <= 1.50
|   |   |   |   |   |--- class: 0
|   |   |   |   |--- degree_number >  1.50
|   |   |   |   |   |--- class: 1
|   |   |   |--- job_n >  1.50
|   |   |   |   |--- class: 0

In [ ]:
from sklearn.tree import DecisionTreeClassifier
X=df.drop('salary_more_then_100k',axis="columns")
y=df['salary_more_then_100k']
model = DecisionTreeClassifier(criterion='entropy')
model.fit(X,y)
y_pred=model.predict(X)

from sklearn.metrics import classification_report
report= classification_report(y,y_pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         6
           1       1.00      1.00      1.00        10

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

In [ ]:
X.head(2)

   company  job  degree_number  company_n  job_n
0        2    2              1          2      2
1        2    2              2          2      2

In [ ]:
model.predict([[2,	2	,1	,2,	2]])

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [ ]:
model.predict([[2	,2,	2,	2,	2]])

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [10]:
import seaborn as sns
from matplotlib import pyplot as plt

In [12]:
df=pd.read_csv("churn.csv")
df.head()

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Age,Customer Value,Churn
0,8,0,38,0,4370,71,5,17,3,1,1,30,197.640,0
1,0,0,39,0,318,5,7,4,2,1,2,25,46.035,0
2,10,0,37,0,2453,60,359,24,3,1,1,30,1536.520,0
3,10,0,38,0,4198,66,1,35,1,1,1,15,240.020,0
4,3,0,38,0,2393,58,2,33,1,1,1,15,145.805,0

In [16]:
df.Churn.value_counts()

Churn
0    2655
1     495
Name: count, dtype: int64

In [17]:
df.isna().sum()

Call  Failure              0
Complains                  0
Subscription  Length       0
Charge  Amount             0
Seconds of Use             0
Frequency of use           0
Frequency of SMS           0
Distinct Called Numbers    0
Age Group                  0
Tariff Plan                0
Status                     0
Age                        0
Customer Value             0
Churn                      0
dtype: int64

In [19]:
x=df.drop('Churn',axis=1)
y=df['Churn']

In [23]:
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import  LogisticRegression
from sklearn.metrics import classification_report
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2, stratify=y,random_state=42)

In [24]:
model=LogisticRegression(max_iter=2000)# ioncrease max iter if issues
model.fit(x_train,y_train)
y_pred= model.predict(x_test)
report=classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.90      0.98      0.94       531
           1       0.79      0.41      0.54        99

    accuracy                           0.89       630
   macro avg       0.84      0.70      0.74       630
weighted avg       0.88      0.89      0.88       630

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

balancing training data er upore korte hobe

In [26]:
from imblearn.under_sampling  import RandomUnderSampler
rus= RandomUnderSampler(random_state=42)
x_train_rus,y_train_rus=rus.fit_resample(x_train,y_train)
y_train_rus.value_counts()

Churn
0    396
1    396
Name: count, dtype: int64

In [27]:
model=LogisticRegression(max_iter=2000)# ioncrease max iter if issues
model.fit(x_train_rus,y_train_rus)
y_pred_rus= model.predict(x_test)
report=classification_report(y_test,y_pred_rus)
print(report)

              precision    recall  f1-score   support

           0       0.96      0.80      0.88       531
           1       0.44      0.84      0.58        99

    accuracy                           0.81       630
   macro avg       0.70      0.82      0.73       630
weighted avg       0.88      0.81      0.83       630

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

dekhtesi  onek data kom asche onek data fele disi tai smote ta apply korbo

In [31]:
from imblearn.over_sampling  import SMOTE
smote= SMOTE(random_state=42)
x_train_smote,y_train_smote=smote.fit_resample(x_train,y_train)
y_train_smote.value_counts()

Churn
0    2124
1    2124
Name: count, dtype: int64

In [32]:
model=LogisticRegression(max_iter=2000)# ioncrease max iter if issues
model.fit(x_train_smote,y_train_smote)
y_pred_smote= model.predict(x_test)
report=classification_report(y_test,y_pred_smote)
print(report)

              precision    recall  f1-score   support

           0       0.97      0.80      0.88       531
           1       0.44      0.85      0.58        99

    accuracy                           0.81       630
   macro avg       0.71      0.83      0.73       630
weighted avg       0.88      0.81      0.83       630

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [33]:
from imblearn.combine  import SMOTETomek
smotetomek= SMOTETomek(random_state=42)
x_train_smotetomek,y_train_smotetomek=smotetomek.fit_resample(x_train,y_train)
y_train_smotetomek.value_counts()

Churn
0    2091
1    2091
Name: count, dtype: int64

In [34]:
model=LogisticRegression(max_iter=2000)# ioncrease max iter if issues
model.fit(x_train_smotetomek,y_train_smotetomek)
y_pred_smotetomek= model.predict(x_test)
report=classification_report(y_test,y_pred_smotetomek)
print(report)

              precision    recall  f1-score   support

           0       0.97      0.80      0.88       531
           1       0.45      0.86      0.59        99

    accuracy                           0.81       630
   macro avg       0.71      0.83      0.73       630
weighted avg       0.89      0.81      0.83       630

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(